In [1]:
import cobra

In [2]:
from cobra import Model,Reaction,Metabolite

In [3]:
# define the model

model = Model('Model')

In [5]:
# define the reactions 

reaction0=Reaction('reaction0')
reaction0.name='reaction0'
reaction0.lower_bound=1
reaction0.upper_bound=1

reaction1=Reaction('reaction1')
reaction1.name='reaction1'
reaction1.lower_bound=0
reaction1.upper_bound=1000

reaction2=Reaction('reaction2')
reaction2.name='reaction2'
reaction2.lower_bound=0
reaction2.upper_bound=1000

reaction3=Reaction('reaction3')
reaction3.name='reaction3'
reaction3.lower_bound=.9
reaction3.upper_bound=.9

reaction4=Reaction('reaction4')
reaction4.name='reaction4'
reaction4.lower_bound=0
reaction4.upper_bound=1000

M=Reaction('M')
M.name='M'
M.lower_bound=0
M.upper_bound=1000

In [6]:
# define the metabolites

A=Metabolite('A',compartment='c')
B=Metabolite('B',compartment='c')
C=Metabolite('C',compartment='c')
ATP=Metabolite('ATP',compartment='c')

In [7]:
# add metabolites to reactions

reaction0.add_metabolites({A:1}) # the metabolite A: in
reaction1.add_metabolites({A:-1,B:1}) # metabolite A: out, metabolite B:in
reaction2.add_metabolites({B:-1,C:1}) # metabolite B: out, metabolite C:in
M.add_metabolites({C:-1}) # metabolite C:out
reaction3.add_metabolites({A:-1,ATP:1}) # metabolite A turned to ATP means energy generation
reaction4.add_metabolites({ATP:-1}) # ATP released means energy consuming

In [8]:
# add reactions to the model

model.add_reactions([reaction0,reaction1,reaction2,reaction3,reaction4,M])

In [10]:
# set the objective of the model

model.objective='M'

In [11]:
# make the model optimal depending on the objective value

model.optimize()

In [12]:
# summarize the model

model.summary()